
  p {
    color: black;
    margin: 0px;
  }


  #box {
    font-size: 80px; color: aqua;
    border: 2px solid black;
    height: 200px;
    display: inline-block;
    margin: 0px;
    width: 84%;
  }

  #header{
    font-size: 80px;
    font-family: 'Space Mono', monospace;
  }
  .title{
   text-align: center;
   position: relative;
   top: 0px;
   margin: 0px;
   font-family: 'Space Mono', monospace;
   kerning: -5px;
  }

  h2{
    text-decoration: underline;
    font-family: 'Space Mono', monospace;
  }
body{
  background-color: silver;
}

#link{
  color: blue;
}

img{
  height: 200px;
  width: 15%;
  border: solid 2px black;
}

.pic{
  border: 0px;
  margin: 3px;
  width: 19%;
  height: 200px;
}

.link{
  text-align: center;
  position: relative;
  bottom: 60px;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  width: 100%;
}

#homepage{
  position: relative;
  bottom: 0px;
  font-family: 'Space Mono', monospace;
}

